
/* Apply a default style to the navbar */
.navbar {
  background-color: #333;
  color: #fff;
  height: 60px;
  padding: 10px 20px;
}

/* Set the position to fixed and anchor it to the top of the viewport */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* This value should be higher than other elements on the page */
}

/* Add some spacing to the content below the fixed navbar */
body {
  padding-top: 60px; /* Adjust this value to match the height of your navbar */
}



/* Custom CSS for the carousel container */

.container1 {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Horizontally center the items */
    height: 100vh; /* Set the container height to the viewport height */
  }

/* Custom CSS for the carousel slides */
.carousel-inner {
    height: 100%; /* Set the height of the carousel slides to 100% of the carousel container */
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.carousel-item {
  position: relative;
  height: 100%;
}

/* Custom CSS for the carousel images */
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Custom CSS for the carousel caption */
.carousel-caption {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Set the text color as needed */
}

/* Fixed size for the carousel caption text */
.carousel-caption h3,
.carousel-caption p {
  font-size: 24px; /* Adjust the font size as needed */
  line-height: 1.5; /* Adjust the line height as needed */
}

/* Service */
/* 
#services {
  background-color: orangered; You can change this to any color you prefer 
  padding: 20px;
}*/

